<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{character?.name ?? 'Novo Personagem'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <form [formGroup]="jogadorForm" (ngSubmit)="onSubmit()">
      <p>
        <label for="name">Nome </label>
        <input type="text" id="name" name="name" formControlName="name">
      </p>
    </form>  -->
</ion-content>
