<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ characterForm.value.name ?? 'Novo Personagem' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="characterForm" (ngSubmit)="save()">
    <ion-item lines="full">
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block" [disabled]="characterForm.invalid">Salvar</ion-button>
      </ion-col>
    </ion-row>
    </form> 
</ion-content>
